@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.project-heading {
    color: white;
    opacity: 0;
    transition: opacity 0.1s;
    font-family: 'roboto slab', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.24px;
    line-height: 48px;
    text-align: center;
}

.project-heading-para {
    color: white;
    transition: opacity 0.15s;
    opacity: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 24px;
}

.projects-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.project-img-text-container {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0.85;
}

.img {
    width: 100%;
    border-radius: 3px;
}

.img-container {
    transition: opacity 0.15s;
    opacity: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 10px #000;
}

.text {
    font-family: 'Playfair Display', serif;
    color: white;
    position: absolute;
    letter-spacing: 0.24px;
    line-height: 100%;
    text-size-adjust: 100%;
    bottom: 0;
    font-size: 5.8em;
    font-weight: 700;
    mix-blend-mode: difference;
    text-shadow: 0 1px 2px #000, 0 1px 2px #000, 0 1px 2px #000;
    z-index: 10;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 4em;
    }
    .text {
        mix-blend-mode: normal;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .text {
        mix-blend-mode: normal;
    }
}