@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-right: -50vw;
    margin-left: -50vw;
}

.footer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-upper-wrap-container {}

.footer-upper-wrap {
    flex: 1;
    display: flex;
    background-color: #222;
}

.footer-upper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    max-width: 80vw;
    margin: 0 auto;
}

.footer-name {
    font-family: "playfair display", serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 34.6521px;
    letter-spacing: 1px;
    color: #fff;
    display: flex;
    align-items: center;
}

.footer-button {
    font-size: 16px;
    padding: 12px;
    border: 2px solid rgb(193, 14, 35);
    transition: background-color 0.15s;
}

.footer-button:hover {
    background-color: rgb(193, 14, 35);
    cursor: pointer;
}

.arrow-sign {
    width: 24px;
    height: 24px;
    fill: #fff;
    /* Arrow color */
}

.footer-lower {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 48px 0px 80px;
    max-width: 80vw;
    margin: 0 10%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.footer-thanks-text {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.24px;
    line-height: 24px;
    font-size: 16px;
    font-family: roboto, sans-serif;
}

.footer-contact-text {
    letter-spacing: 0.24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
    font-family: roboto, sans-serif;
    margin-top: 8px;
}

.footer-contact-link {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.footer-contact-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #c10e23;
    background-color: #c10e23;
    transition: all 0.3s ease-in-out, pointer 0.15s;
    z-index: -1;
}

.footer-contact-link:hover::before {
    height: 100%;
}

.footer-icons {
    display: flex;
    justify-content: right;
    align-items: start;
    max-width: 250px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 10px;
    height: 44px;
    width: 44px;
    padding: 8;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: border-color 0.15s;
}

.icon-container:hover {
    border-color: rgba(255, 255, 255, 0.8);
}

.icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    fill: #fff;
}

@media only screen and (max-width: 670px) {
    .footer-lower {
        flex-direction: column;
        padding: 32px 0px 48px;
        align-items: center;
    }
    .footer-thanks-text {
        text-align: center;
    }
    .footer-contact-text {
        text-align: center;
        margin: 8px 0 32px;
    }
}